.dashboardPage {
  height: 100vh;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: white; }
  .dashboardPage .logoutButton {
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 999; }
  .dashboardPage .dashboardBody {
    position: absolute;
    top: 64px;
    left: 0px;
    height: calc(100vh - 64px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto; }

.addCard {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 2px;
  border-width: 1.2px;
  border-color: #e8e8e8;
  border-style: dashed;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: white; }
  .addCard h3 {
    padding: 0px;
    font-size: 14px; }
  .addCard .cardSelect {
    position: absolute;
    top: 15px;
    width: 180px; }
  .addCard .innerDiv {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    margin-bottom: 7px; }
    .addCard .innerDiv h3 {
      padding-left: 2px;
      padding-bottom: 2px;
      margin: 0px; }
  .addCard .addButton {
    margin-bottom: 10px; }

.coinCard {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  width: 180px;
  height: 200px;
  border-radius: 2px;
  border-width: 1px;
  border-color: #e8e8e8;
  border-style: solid;
  margin: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  animation: fadeIn .5s ease-in forwards;
  background-color: white; }
  .coinCard h2, .coinCard h3 {
    width: 100%;
    text-align: center;
    margin: 0px; }
  .coinCard .currentValue {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px; }
    .coinCard .currentValue .profitGainText {
      color: green;
      font-size: 12px; }
    .coinCard .currentValue .profitLossText {
      color: red;
      font-size: 12px; }
  .coinCard .iconNameWrapper {
    position: absolute;
    top: 18px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
    .coinCard .iconNameWrapper .coinName {
      margin-left: 5px;
      height: 25px;
      max-width: 70%;
      text-align: center;
      font-size: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  .coinCard .valueWrapperLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90px;
    width: 145px;
    padding-right: 10px;
    padding-left: 2px; }
    .coinCard .valueWrapperLeft h2 {
      font-size: 18px; }
    .coinCard .valueWrapperLeft h3 {
      font-size: 30px; }
    .coinCard .valueWrapperLeft .owned {
      text-align: right; }
    .coinCard .valueWrapperLeft .invested {
      text-align: left; }
  .coinCard .valueWrapperRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90px;
    width: 145px;
    padding-left: 10px;
    padding-right: 2px; }
    .coinCard .valueWrapperRight h2 {
      font-size: 18px; }
    .coinCard .valueWrapperRight h3 {
      font-size: 30px; }
    .coinCard .valueWrapperRight .owned {
      text-align: right; }
    .coinCard .valueWrapperRight .invested {
      text-align: left; }
  .coinCard .fa-times {
    z-index: 10;
    position: absolute;
    top: 3px;
    right: 9px;
    font-size: 20px;
    cursor: pointer;
    -webkit-animation: turnBlack .5s -1s ease-in-out forwards;
    animation: turnBlack .5s -1s ease-in-out forwards; }
    .coinCard .fa-times:hover {
      animation: turnRed .4s ease-in-out forwards; }
  .coinCard .ownedInput {
    text-align: right !important; }
  .coinCard .investedInput {
    text-align: left !important; }
  .coinCard .ant-input {
    position: relative;
    font-size: 13px;
    border: 0px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px; }
    .coinCard .ant-input:hover, .coinCard .ant-input:focus {
      border-color: #d9d9d9;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      background-color: white;
      box-shadow: none; }
  .coinCard .ant-input-group-addon {
    background-color: white;
    border: 0px;
    padding: 0px; }

.coinList {
  width: 100%;
  height: auto;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap; }

.dashboardComponent {
  position: absolute;
  top: 104px;
  left: 0px;
  height: calc(100vh - 104px);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto; }

.portfolioTabs {
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 50px;
  background-color: blue; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes turnRed {
  0% {
    color: black; }
  100% {
    color: #E53935; } }

@keyframes turnBlack {
  0% {
    color: #E53935; }
  100% {
    color: black; } }
