body{
  overflow: hidden;
  min-width: 320px;
}

  .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    background-color: white;
    z-index: 2;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .header, .subHeader{
      color: black;
    }
    .header{
      font-size: 30px;
      text-align: center;
    }
    .fa-exclamation-triangle{
      font-size: 30px;
    }
  }




  .themeBackgroundOne {
    background: url("../assets/swirl.png") repeat center center fixed;
  }


  @keyframes borderFadeIn {
    0%{border: 0px !important;}
    100%{border: 1px !important;}
  }
