.fakeBody{
  background: white;

  //font-family: 'Roboto', sans-serif;
  //font-family: 'Text Me One', sans-serif;
  //font-family: 'Assistant', sans-serif;
  //font-family: 'Heebo', sans-serif;
  //font-family: 'Raleway', sans-serif;
  //font-family: 'Varela', sans-serif;
  .loadingScreen{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    .logo{
      width: 50%;
      max-height: 80%;
    }
    h1{
      position: absolute;
      display: block;
      font-family: 'Text Me One', sans-serif;
      font-size: 70px;
      color: black;
      bottom: 20%;
      right: 30%;
    }
  }

}




@keyframes fadeOut {
  0%{opacity: 1;}
  100%{opacity: 0;}
}
