.dashboardComponent {
  position: absolute;
  top: 0px;
  min-height: calc(100vh - 64px);
  width: 100%; }
  .dashboardComponent .portfolioWrapper {
    border-right-width: 1.2px;
    border-right-color: #e8e8e8;
    border-right-style: dashed;
    position: absolute;
    padding-top: 10px;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 80px;
    z-index: 2147483647 !important; }
    .dashboardComponent .portfolioWrapper .portfolio {
      margin-left: 8px;
      margin-right: 8px;
      height: 50px;
      width: 50px;
      text-align: center;
      animation: fadeIn .5s ease-in forwards;
      margin-bottom: 20px; }
      .dashboardComponent .portfolioWrapper .portfolio .image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 40%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        animation-delay: -1s;
        animation: borderGrowLarger .5s ease-in forwards; }
        .dashboardComponent .portfolioWrapper .portfolio .image:hover > h3 {
          animation: fadeIn .8s forwards; }
        .dashboardComponent .portfolioWrapper .portfolio .image h3 {
          animation-delay: -1s;
          animation: fadeOut .8s forwards;
          font-family: 'Titillium Web', sans-serif;
          font-size: 16px;
          font-weight: 400;
          text-align: center;
          vertical-align: middle;
          height: auto;
          width: 100%;
          margin: 0;
          color: white;
          line-height: 12px; }
        .dashboardComponent .portfolioWrapper .portfolio .image:hover {
          animation: borderGrowSmaller .5s ease-in forwards; }
      .dashboardComponent .portfolioWrapper .portfolio .meme1 {
        background: url(https://i.imgur.com/Ca33VfA.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
      .dashboardComponent .portfolioWrapper .portfolio:hover > .meme1 {
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://i.imgur.com/Ca33VfA.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
      .dashboardComponent .portfolioWrapper .portfolio .meme2 {
        background: url(https://i.imgur.com/NEitIUN.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
      .dashboardComponent .portfolioWrapper .portfolio:hover > .meme2 {
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://i.imgur.com/NEitIUN.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
      .dashboardComponent .portfolioWrapper .portfolio .meme3 {
        background: url(https://i.imgur.com/Tfg1K23.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
      .dashboardComponent .portfolioWrapper .portfolio:hover > .meme3 {
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(https://i.imgur.com/Tfg1K23.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
      .dashboardComponent .portfolioWrapper .portfolio .addPortfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
        border-radius: 2px;
        border-width: 2px;
        border-color: #e8e8e8;
        border-style: dashed;
        animation-delay: -1s;
        animation: borderGrowLargerV2 .5s ease-in forwards; }
        .dashboardComponent .portfolioWrapper .portfolio .addPortfolio:hover {
          animation: borderGrowSmallerV2 .5s ease-in forwards; }
        .dashboardComponent .portfolioWrapper .portfolio .addPortfolio h3 {
          text-align: center;
          vertical-align: middle;
          height: auto;
          width: 100%;
          margin: 0;
          color: white;
          line-height: 12px; }
        .dashboardComponent .portfolioWrapper .portfolio .addPortfolio .plusIcon {
          font-size: 30px; }
      .dashboardComponent .portfolioWrapper .portfolio .addPortfolioHelper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
        border-radius: 2px;
        border-width: 2px;
        border-color: #e8e8e8;
        border-style: dashed;
        animation-delay: -1s;
        animation: borderGrowLargerV2 .5s ease-in forwards, glow 3s ease infinite; }
        .dashboardComponent .portfolioWrapper .portfolio .addPortfolioHelper:hover {
          animation: borderGrowSmallerV2 .5s ease-in forwards; }
        .dashboardComponent .portfolioWrapper .portfolio .addPortfolioHelper h3 {
          text-align: center;
          vertical-align: middle;
          height: auto;
          width: 100%;
          margin: 0;
          color: white;
          line-height: 12px; }
        .dashboardComponent .portfolioWrapper .portfolio .addPortfolioHelper .plusIcon {
          font-size: 30px; }
  .dashboardComponent .portfolioInnerPage {
    position: absolute;
    top: -5px;
    left: 80px;
    height: calc(100vh - 64px);
    width: calc(100vw - 80px); }

.ant-modal-body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap; }

.portfolioIcon {
  margin: 8px;
  height: 50px;
  width: 50px;
  animation: fadeIn .5s ease-in forwards; }
  .portfolioIcon .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    animation-delay: -1s;
    animation: borderGrowLarger .5s ease-in forwards; }
    .portfolioIcon .image:hover {
      animation: borderGrowSmaller .5s ease-in forwards; }
  .portfolioIcon .checkMarkOn {
    color: white;
    font-size: 35px;
    opacity: 0;
    animation: fadeIn .4s ease-in forwards; }
  .portfolioIcon .checkMarkOff {
    opacity: 0;
    color: white;
    font-size: 35px; }
  .portfolioIcon .meme1 {
    background: url(https://i.imgur.com/Ca33VfA.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme2 {
    background: url(https://i.imgur.com/NEitIUN.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme3 {
    background: url(https://i.imgur.com/Tfg1K23.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme4 {
    background: url(https://i.imgur.com/j7MDe6T.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme5 {
    background: url(https://i.imgur.com/IuRx2Wp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme6 {
    background: url(https://i.imgur.com/i3B7TBr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme7 {
    background: url(https://i.imgur.com/euwyBOB.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme8 {
    background: url(https://i.imgur.com/eNWeaok.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme9 {
    background: url(https://i.imgur.com/WP8rYx5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme10 {
    background: url(https://i.imgur.com/fKd7syp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme11 {
    background: url(https://i.imgur.com/EIGoGbR.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme12 {
    background: url(https://i.imgur.com/de3oSnK.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme13 {
    background: url(https://i.imgur.com/MpXWer7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme14 {
    background: url(https://i.imgur.com/3PmsMmY.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme15 {
    background: url(https://i.imgur.com/pQI4yFl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme16 {
    background: url(https://i.imgur.com/elqF1xh.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme17 {
    background: url(https://i.imgur.com/LytKU4m.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme18 {
    background: url(https://i.imgur.com/nY5hP9l.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme19 {
    background: url(https://i.imgur.com/wTGAcId.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme20 {
    background: url(https://i.imgur.com/EmegVL3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme21 {
    background: url(https://i.imgur.com/IyshJgy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme21 {
    background: url(https://i.imgur.com/Ge6T6Qd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme22 {
    background: url(https://i.imgur.com/l1XtwC7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .meme23 {
    background: url(https://i.imgur.com/w5EYyzw.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .portfolioIcon .gradient1 {
    background: #ad5389;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient2 {
    background: #40E0D0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient3 {
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient4 {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient5 {
    background: #800080;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc0cb, #800080);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient6 {
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient7 {
    background: #03001e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient8 {
    background: #7F00FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient9 {
    background: #e1eec3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f05053, #e1eec3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient10 {
    background: #007991;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient11 {
    background: #00c3ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffff1c, #00c3ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient12 {
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient13 {
    background: #FF4E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #FF4E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient14 {
    background: #606c88;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient15 {
    background: #4b6cb7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .gradient16 {
    background: #283048;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .portfolioIcon .color1 {
    background: #F44336; }
  .portfolioIcon .color2 {
    background: #F44336; }
  .portfolioIcon .color3 {
    background: #9C27B0; }
  .portfolioIcon .color4 {
    background: #673AB7; }
  .portfolioIcon .color5 {
    background: #3F51B5; }
  .portfolioIcon .color6 {
    background: #2196F3; }
  .portfolioIcon .color7 {
    background: #03A9F4; }
  .portfolioIcon .color8 {
    background: #00BCD4; }
  .portfolioIcon .color9 {
    background: #009688; }
  .portfolioIcon .color10 {
    background: #4CAF50; }
  .portfolioIcon .color11 {
    background: #FFEB3B; }
  .portfolioIcon .color12 {
    background: #CDDC39; }
  .portfolioIcon .color13 {
    background: #212121; }
  .portfolioIcon .color14 {
    background: #FF5722; }
  .portfolioIcon .color15 {
    background: #795548; }
  .portfolioIcon .color16 {
    background: #9E9E9E; }

.addPortfolioModal h1 {
  background-color: red;
  width: 100%; }

.meme1 {
  background: url(https://i.imgur.com/Ca33VfA.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme2 {
  background: url(https://i.imgur.com/NEitIUN.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme3 {
  background: url(https://i.imgur.com/Tfg1K23.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme4 {
  background: url(https://i.imgur.com/j7MDe6T.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme5 {
  background: url(https://i.imgur.com/IuRx2Wp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme6 {
  background: url(https://i.imgur.com/i3B7TBr.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme7 {
  background: url(https://i.imgur.com/euwyBOB.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme8 {
  background: url(https://i.imgur.com/eNWeaok.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme9 {
  background: url(https://i.imgur.com/WP8rYx5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme10 {
  background: url(https://i.imgur.com/fKd7syp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme11 {
  background: url(https://i.imgur.com/EIGoGbR.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme12 {
  background: url(https://i.imgur.com/de3oSnK.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme13 {
  background: url(https://i.imgur.com/MpXWer7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme14 {
  background: url(https://i.imgur.com/3PmsMmY.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme15 {
  background: url(https://i.imgur.com/pQI4yFl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme16 {
  background: url(https://i.imgur.com/elqF1xh.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme17 {
  background: url(https://i.imgur.com/LytKU4m.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme18 {
  background: url(https://i.imgur.com/nY5hP9l.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme19 {
  background: url(https://i.imgur.com/wTGAcId.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme20 {
  background: url(https://i.imgur.com/EmegVL3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme21 {
  background: url(https://i.imgur.com/IyshJgy.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme21 {
  background: url(https://i.imgur.com/Ge6T6Qd.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme22 {
  background: url(https://i.imgur.com/l1XtwC7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.meme23 {
  background: url(https://i.imgur.com/w5EYyzw.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.gradient1 {
  background: #ad5389;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient2 {
  background: #40E0D0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient3 {
  background: #FC5C7D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient4 {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient5 {
  background: #800080;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc0cb, #800080);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc0cb, #800080);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient6 {
  background: #00F260;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient7 {
  background: #03001e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient8 {
  background: #7F00FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient9 {
  background: #e1eec3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f05053, #e1eec3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f05053, #e1eec3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient10 {
  background: #007991;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #007991);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient11 {
  background: #00c3ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffff1c, #00c3ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient12 {
  background: #833ab4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient13 {
  background: #FF4E50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9D423, #FF4E50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient14 {
  background: #606c88;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f4c6b, #606c88);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient15 {
  background: #4b6cb7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.gradient16 {
  background: #283048;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #859398, #283048);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #859398, #283048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.color1 {
  background: #F44336; }

.color2 {
  background: #F44336; }

.color3 {
  background: #9C27B0; }

.color4 {
  background: #673AB7; }

.color5 {
  background: #3F51B5; }

.color6 {
  background: #2196F3; }

.color7 {
  background: #03A9F4; }

.color8 {
  background: #00BCD4; }

.color9 {
  background: #009688; }

.color10 {
  background: #4CAF50; }

.color11 {
  background: #FFEB3B; }

.color12 {
  background: #CDDC39; }

.color13 {
  background: #212121; }

.color14 {
  background: #FF5722; }

.color15 {
  background: #795548; }

.color16 {
  background: #9E9E9E; }

.selectedPortfolio {
  padding-left: 10px;
  margin-left: 10px; }

.activeTag {
  height: 40px;
  width: 20px;
  background-color: #673AB7;
  position: absolute;
  left: -10px;
  border-radius: 30%; }

.noPortfolioWrapper {
  margin-left: 60px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes borderGrowSmaller {
  0% {
    border-radius: 40%; }
  100% {
    border-radius: 30%; } }

@keyframes borderGrowLarger {
  0% {
    border-radius: 30%; }
  100% {
    border-radius: 40%; } }

@keyframes borderGrowSmallerV2 {
  0% {
    border-radius: 50%; }
  100% {
    border-radius: 30%; } }

@keyframes borderGrowLargerV2 {
  0% {
    border-radius: 30%; }
  100% {
    border-radius: 50%; } }

@keyframes glow {
  0% {
    box-shadow: 0 0 -10px #7E57C2; }
  40% {
    box-shadow: 0 0 25px #7E57C2; }
  60% {
    box-shadow: 0 0 25px #7E57C2; }
  100% {
    box-shadow: 0 0 -10px #7E57C2; } }
